{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container-fluid p-4">
        <br>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                    {{ form.name | as_crispy_field }}
                </div>
                <div class="col-4"></div>
            </div>
            <br>
            <label for="selectAll">{% trans "Tout séléctionner" %}</label>
            <input type="checkbox" id="selectAll" name="selectAll"/>

            <div class="d-flex align-content-between justify-content-center flex-wrap m-3">
                {{ form.characters | as_crispy_field }}
            </div>
            <br>
            <button type="submit" class="btn btn-primary fs-2"> {% trans "Envoyer"%}</button>
        </form>
    </div>
{% endblock %}