{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid p-2">
        <h1>{{ universe.name }}</h1>
        <img src="{{ object.image.url }}" class="img-thumbnail" alt="character" width="400px">
        <br>

        <h2> Description </h2>
        <p class="center-text">{{ universe.description }}</p>
        <p class="center-text">{{ universe.universe.name }}</p>
        <h2>Liste des personnages de cet univers</h2>
        <div class="d-flex justify-content-center ">
            {% for character in characters %}
                <div class="card mx-2 " style="width: 15rem; height: 15rem">
                    <a href="{% url "character_detail" character.pk %}">
                        <img src="{{ character.image.url }}" class="card-img-top" alt="image_character" height="150rem"></a>
                    <div class="card-body border">
                        <a href="{% url 'character_detail' character.pk %}"><h4>{{ character.name }}</h4></a>
                    </div>
                </div>
                <br>
            {% endfor %}
        </div>
    <br>
    <br>
        <button class="btn btn-outline-danger"><a href="{% url "universe_list" %}" class="fs-4">Retourner aux univers</a></button>
    </div>

    <br>
{% endblock %}